<div class="col-md-offset-1 col-md-3" id="sidebar">
  <div class="panel panel-success">
      <div class="panel-heading"><h3 class="panel-head">{% for p in pages|sort(attribute='sort-order') %}{% if page and p.slug == page.slug %}{{ p.title }}{% endif %}{% endfor %}{% if not page %}Full Stack Python{% endif %}</h3></div>
      <div class="panel-body">
          <a href="/">Full Stack Python</a>是一本解释Python web应用栈层，并为之提供最好的网络资源的开放书籍。
          <hr/>
          Need more detailed tutorials and walkthroughs than what is
          presented here? 
          <a href="/email.html">Sign up for an email alert when that content is created.</a>
          {% if not page %}
          <hr/>
          想找一个特定的话题看看，点击
          <a href="/table-of-contents.html">目录</a>吧.
          {% endif %}
          <hr/>
            <a href="http://twitter.com/mattmakai">Matt Makai</a> 先生在社区的协助下设计并编写了这个站点。如果你有Github账号，可以
          <a href="https://github.com/makaimc">follow</a>他哦。想跟近这本书的最新状态去Github
          <a href="https://github.com/makaimc/fullstackpython.github.com">Star</a> 这个项目吧！
      </div>
  </div>
  {% if page %}
  <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-head">目录</h3>
      </div>
      <div class="list-group">
          {% for p in pages|sort(attribute='sort-order') %}
              <a href="/{{ p.slug }}.html" class="list-group-item smaller-item {% if page and p.slug == page.slug %}active{% endif %}">{{ p.title }}</a>
          {% endfor %}
      </div>
  </div>
  {% endif %}
</div>
